/* Add CSS Styling */
.odd {
  background-color: pink;
  font-family: 'Verdana', 'DejaVu Sans';
}

.class3 {
  font-size: 24px;
}

#id2 {
  color: blue;
  font-size: 36px;
}

#id4 {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 24px;
}
